node_modules/
.env
package-lock.json
__pycache__/

13_YOLO/advanced/*.pt
13_YOLO/advanced/*.zip
13_YOLO/advanced/*.npy
13_YOLO/advanced/*.jpg
13_YOLO/advanced/demo_data/
13_YOLO/advanced/images/
13_YOLO/advanced/sahi/
13_YOLO/advanced/yolo11n_openvino_model/
19_streamlit/*.pt
20_GRADIO/*.pt
20_GRADIO/.gradio/
