.grid {
    display: grid; /* 2차원 격자 켜기*/
    grid-template-columns: repeat(3, 1fr);
    gap:12px
}

.card {
    background: rgb(222, 116, 222);
    color: aliceblue;
    text-align: center;
    padding: 22px 0;
    border-radius: 8px;
}